Meta
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
src/*.o
src/*.so
src/*.dll
package_test.nb.html
package_test_files/*
irt_standard_tst*
bfg-1.12.16.jar
src-i386
src-x64
*.Rproj
*.o
*.hpp
altdoc/freeze.rds
^_quarto$
/Meta/
/doc/
*.js
*.css
*.png
*.woff
*.rds
*.rdx
*.Rdata
*.rdb
vignettes/Package_Introduction_cache/html/__packages
.gitignore
_quarto/vignettes/Package_Introduction_cache/html/__packages
package_test_v2.nb.html
irt_standard_map_modified.stan
.gitignore
.gitignore
model-172a441fafb42.stan
