doc
Meta
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
src/*.o
src/*.so
src/*.dll
package_test.nb.html
package_test_files/*
irt_standard_tst*
bfg-1.12.16.jar
src-i386
src-x64
*.Rproj
*.o
*.hpp
altdoc/freeze.rds
^_quarto$
/doc/
/Meta/
