inst/* linguist-vendored
src/Makevars* linguist-vendored
src/init.cpp linguist-vendored
src/Modules.cpp linguist-vendored
*.o linguist-vendored
*.hpp linguist-vendored
tools/* linguist-vendored
package_test* linguist-documentation
vignettes/* linguist-documentation
src/stan_files/modeling_statement.stan linguist-vendored
src/stan_files/modeling_statement_v2.stan linguist-vendored
src/stan_files/modeling_statement_v3.stan linguist-vendored
src/stan_files/modeling_statement_v4.stan linguist-vendored
src/stan_files/modeling_statement_v5.stan linguist-vendored
src/stan_files/modeling_statement_v6.stan linguist-vendored
src/stan_files/modeling_statement_v7.stan linguist-vendored
src/stan_files/modeling_statement_v8.stan linguist-vendored